:root{
--danger-color:#FF0063;
}


.text-bg-danger{
    background-color: var(--danger-color)!important;

}

.text-danger{
    color:var(--danger-color)!important;
}

 a:not(.active){
    color: rgba(255,255,255,0.75)!important;
}

 a.navbar-brand{
    color: rgba(255,255,255,1)!important;
}

 a:hover{
    text-decoration: underline!important;
}

 a.active{
    text-decoration: underline!important;
    font-weight: bold!important;
}

